@charset "UTF-8";
.remove-all-styles {
  all: revert;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf") format("opentype");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("opentype");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.ttf") format("opentype");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
.container {
  margin: 0 auto;
  max-width: 1220px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0 3px 9.6px #dedede;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 3;
  min-height: 100px;
  max-height: 100px;
}

.headers_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  min-height: 100px;
}

.header_logo {
  flex: 0 0 60px;
  position: relative;
  z-index: 4;
}
.header_logo img {
  max-width: 100%;
  display: block;
  min-height: 60px;
  min-width: 60px;
  margin-left: 20%;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header_list li {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 16px;
}

.header_link {
  color: #6f6f6f;
  font-size: 16px;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px;
}
.header_link:hover {
  color: #337ab7;
  background-color: rgba(238, 238, 238, 0.3);
}

.blueclass {
  font-size: 16px;
  color: #ffffff;
  background-color: #337ab7;
  opacity: 80%;
  padding: 5px 15px 10px 15px;
  margin: 5px 5px 5px 5px;
  border-radius: 20px;
}

@media (max-width: 974px) {
  .header_link {
    font-size: 15px;
  }
}
@media (max-width: 936px) {
  .header_link {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .header_link {
    font-size: 13px;
  }
}
.content {
  padding: 100px 0 0 0;
}

.content_txt {
  font-size: 16px;
  line-height: 25px;
}
.content_txt p {
  margin: 0 0 20px 0;
}

.shadowed-form {
  background-color: #f7f7f7;
  min-height: 671px;
  min-width: auto;
  display: flex;
}

.cources_text {
  min-width: 50%;
  min-height: 100%;
  font-family: OpenSans;
  font-weight: 300;
  text-align: center;
}
.cources_text ul {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 33px;
  margin: 0 0 45px 0;
}
.cources_text li {
  font-family: OpenSans;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  max-width: 474px;
  margin: 0 0 0 27px;
}

.text-inside-cources {
  display: flex;
  height: auto;
  float: right;
  margin: 257px 23px auto 0;
  min-width: 284px;
  flex-wrap: wrap;
  max-width: 687px;
}

.register_form {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 13px;
  margin: 0 0 0 34px;
  max-width: 576px;
}
.register_form ul {
  margin: 58px 0 22px 0;
  font-size: 20px;
  font-weight: 700;
}
.register_form form label:after {
  content: "";
  width: 7px;
  height: 7px;
  background-size: 7px;
  background-image: url("../img/required.png");
  background-repeat: no-repeat;
  display: inline flow-root;
  margin: 0 0 0 3px;
}
.register_form form label a {
  text-decoration: none;
  color: #337ab7;
}
.register_form form input {
  margin: 13px 0 10px 0;
  padding: 0 0 0 10px;
  border-radius: 4px;
  border: 1px solid #bababa;
  outline: none;
}
.register_form form input:focus {
  box-shadow: rgba(0, 128, 255, 0.35) 0 0 10px 0;
  border: solid 1px rgba(102, 175, 233, 0.8);
}
.register_form form input:focus::placeholder {
  opacity: 0;
}
.register_form form .check-mark-4-form {
  min-width: 13px;
  min-height: 13px;
  margin: 10px 0 0 0;
}
.register_form .register_link {
  border-radius: 43px;
  margin: 17px auto 16px auto;
  max-width: 178px;
  text-align: center;
  background-color: #337ab7;
  font-size: 13px;
  font-weight: 700;
}
.register_form .register_link a {
  text-decoration: none;
  color: #ffffff;
}

input {
  min-width: 590px;
  min-height: 50px;
}

.register_link {
  padding: 21px 95px;
}

@media (max-width: 1285px) {
  .form-optimization {
    min-width: 430px;
    min-height: 46px;
  }

  .register_link {
    padding: 16px 55px;
  }
}
@media (max-width: 1033px) {
  .form-optimization {
    min-width: 347px;
    min-height: 34px;
  }

  .register_link {
    padding: 10px 24px;
  }

  .register_form {
    margin: 0 0 0 4px;
  }

  .text-inside-cources {
    margin: 147px 9px auto 0;
    min-width: 250px;
    line-height: 36px;
  }
}
@media (max-width: 862px) {
  .headers_body {
    height: 50px;
  }

  .header_logo {
    flex: 0 0 40px;
  }

  .header_burger-menu {
    display: block;
    width: 42px;
    height: 32px;
    position: absolute;
    z-index: 100;
    background-color: #337ab7;
    opacity: 80%;
    border-radius: 4px;
    margin: 19px 16px 19px 10px;
    right: 16px;
    top: 19px;
    bottom: 19px;
  }
  .header_burger-menu:before {
    top: 9px;
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 53%;
    height: 2px;
    left: 10px;
  }
  .header_burger-menu:after {
    bottom: 11px;
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 54%;
    height: 2px;
    left: 10px;
  }
  .header_burger-menu span {
    position: absolute;
    background-color: #ffffff;
    float: right;
    left: 10px;
    width: 54%;
    height: 2px;
    top: 14px;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 322px;
    background-color: #ffffff;
    padding: 70px 10px 20px 10px;
    transition: all 0.5s ease 0s;
    box-shadow: 0 3px 9.6px #dedede;
  }

  .menu_opened {
    top: 0;
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }
  .menu_opened a {
    display: flex;
    justify-content: center;
  }

  .header_list {
    display: flex;
    flex-direction: column;
  }
  .header_list li {
    margin: 6px;
    padding: 0;
  }

  .logo_img_class {
    margin-left: 21%;
  }
}
@media (max-width: 380px) {
  .form-optimization {
    min-width: 278px;
    min-height: 40px;
  }

  .cources_text p {
    font-size: 25px;
  }

  .label-wrapper {
    width: 223px;
  }

  .un-wrapper {
    display: flex;
    flex-direction: row;
  }

  .register_form p {
    font-size: 21px;
  }
  .register_form .register_link {
    margin: 17px auto 16px auto;
    padding: 15px 30px;
  }
  .register_form form .check-mark-4-form {
    margin: 6px 6px 7px 0;
  }
  .register_form form input {
    margin: 7px 12px 13px 0;
  }

  .form-child {
    color: black;
    opacity: 75.8%;
  }
  .form-child p {
    font-weight: 600;
  }

  .rules-and-regulation {
    color: gray;
  }

  .text-inside-cources {
    margin: 34px 9px -19px 0;
  }

  .cources_text li {
    margin: 0 4px 0 9px;
  }
  .cources_text p {
    font-size: 24px;
  }
}
@media (min-width: 381px) {
  .un-wrapper {
    display: flex;
    align-items: end;
  }

  .register_form form .check-mark-4-form {
    margin: 1px 7px 0 0;
  }
}
.first-slider-field {
  display: flex;
  justify-content: center;
}

.first-slider-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  max-width: 1220px;
}
.first-slider-wraper ul {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 32px;
  margin: 56px 0 21px 0;
  color: #333333;
}

.slider-number-one {
  display: flex;
  flex-direction: row;
  min-width: 0;
}

.slider1-slidez {
  font-family: "OpenSans";
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px 120px 10px;
}
.slider1-slidez ul {
  font-size: 23px;
  font-weight: 400;
  border-bottom: 2px solid #3498db;
  padding: 0 0 24px 0;
  margin: 0 0 30px 0;
  min-width: 339px;
  color: #666666;
}
.slider1-slidez p {
  max-width: 325px;
  font-size: 16px;
  line-height: 16px;
  color: #8f8f8f;
}

.slider1-images {
  max-height: 62px;
  max-width: 72px;
  display: flex;
  justify-content: center;
  margin: 0 0 36px 0;
}

.slider-number-one {
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 0;
  max-width: 100%;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  margin: 0 0 0 41px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Слайд */
.slick-slide {
  overflow: hidden;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Точки (булиты) */
.slick-dots {
  position: absolute;
  bottom: -21%;
  display: flex;
  flex-direction: row;
}

.slider .slick-dots {
  justify-content: center;
  align-items: center;
  text-decoration: transparent;
}

.slick-dots li {
  list-style: none;
}

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  border-radius: 25px;
  border: none;
  color: transparent;
  margin: 0 2px 0 2px;
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: #b3b3b3;
}

.slick-dots li.slick-active {
  background-color: #666666;
  border-radius: 25px;
  margin: 1px 2px 0 2px;
  padding: 0;
  width: 12px;
  height: 12px;
}

.slick-active button {
  visibility: hidden;
}

@media (max-width: 850px) {
  .shadowed-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .slick-dots {
    position: absolute;
    bottom: -532px;
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 536px) {
  .slick-dots {
    position: absolute;
    bottom: -72%;
    display: flex;
    flex-direction: row;
  }

  .first-slider-paragraph {
    font-size: 15px;
  }
}
.first-slider-field {
  color: #337ab7;
}
/*# sourceMappingURL=style.css.map */
