@import "style-reset";
html,body{
  height: 100%;
}

body{
  background-color: #f7f7f7;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.ttf'); /* IE9 Compat Modes */
}
.wrapper{
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
.header{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 50;
  box-shadow: 2px 12px 17px #dedede;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 3;
    min-height: 100px;
    max-height: 100px;
  }
}
.headers_body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  min-height: 100px;
}
.header_logo{
  flex: 0 0 60px ;
  position: relative;
  z-index: 4;
  img{
    max-width: 100%;
    display: block;
    min-height: 60px;
    min-width: 60px;
    margin-left: 20%;
    }
}
.header_list{
  display: flex;
  position: relative;
  z-index: 3;
  li{
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
  }
}
.header_link {
  color: #6f6f6f;
  font-size: 16px;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px;
  &:hover {
    color: #337ab7;
    background-color: rgb(238, 238, 238, 0.3) ;
  }
}
 .blueclass{
  font-size: 16px;
  color: #ffffff;
  background-color: #337ab7;
  opacity: 80%;
  padding: 10px 15px 10px 15px;
  margin: 5px 5px 5px 5px;
  border-radius: 20px;
}
  @media (max-width: 862px) {
      .headers_body {
      height: 50px;
    }
    .header_logo {
      flex: 0 0 40px;
    }
    .header_burger-menu {
      display: block;
      width: 42px;
      height: 32px;
      position: absolute;
      z-index: 100;
      background-color: #337ab7;
      opacity: 80%;
      border-radius: 4px;
      margin: 19px 16px 19px 10px;
      right: 16px;
      top: 19px;
      bottom: 19px;
      &:before {
        top: 9px;
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 53%;
        height: 2px;
        left: 10px;
      }
      &:after {
        bottom: 11px;
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 54%;
        height: 2px;
        left: 10px;
      }
      span {
        position: absolute;
        background-color: #ffffff;
        float: right;
        left: 10px;
        width: 54%;
        height: 2px;
        top: 14px;
      }
    }
    .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 322px;
      background-color: #ffffff;
      padding: 70px 10px 20px 10px;
      transition: all 0.5s ease 0s;
      box-shadow: 2px 12px 17px #dedede;

    }
      .menu_opened {
        top: 0;
        margin-top:35px;
        display: flex;
        justify-content: center;
        a{
            display: flex;
            justify-content: center;
        }
      }
    .header_list {
      display: flex;
      flex-direction: column;
      li {
        margin: 6px;
        padding: 0;
      }
    }
    .logo_img_class{
      margin-left: 21%;
    }
  }
@media (max-width: 974px) {
  .header_link {
    font-size: 15px;
  }
}
@media (max-width: 936px) {
  .header_link {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .header_link {
    font-size: 13px;
  }
}
  .content {
    padding: 100px 0 0 0;
  }
  .content_txt {
    font-size: 16px;
    line-height: 25px;
    p {
      margin: 0 0 20px 0;
    }
  }

  .shadowed-form{
    background-color: #f7f7f7;
    min-height: 671px;
    min-width: 100%;
    display: flex;
  }
  .cources_text{
    background-color: chartreuse;
    min-width: 50%;
    min-height: 100%;
  }
  .register_form{
    min-width: 50%;
    min-height: 100%;
    background-color: aqua;
  }